::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: 0 0 4px #aaa inset;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3523072f;
}

body {
    font-family: 'Stick', sans-serif;
}

#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#page_top a {
    background-color: rgba(153, 153, 153, 0.521);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
}

#page_top a:hover {
    background-color: rgba(102, 102, 102, 0.589);
    text-decoration: none;
}

#HR8 {
    color: peru;
}

@media screen and (max-width: 800px) {
    .tbl-r {
        width: 100%;
    }
    .tbl-r td:nth-of-type(3) {
        display: inline-block;
        width: 100%;
    }
    .tbl-r td:nth-of-type(4) {
        display: inline-block;
        width: 100%;
        border-top: none;
    }
    .tbl-r th:nth-of-type(3) {
        display: inline-block;
        width: 100%;
        border: none;
    }
    .tbl-r th:nth-of-type(4) {
        display: inline-block;
        width: 100%;
    }
}

.toast-group {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
}